#editor{
    outline: 1px solid black;
    margin: auto;
    width: 500px;
    margin-top: 50px;
}

textarea{
    width: 100%;
}

#preview{
    outline: 1px solid red;
    margin: 90px;
    min-height: 400px;
    max-height: 600px;
    text-align: left;
}